[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
pillow = "*"
grpcio = "*"
tensorflow-protobuf = "==2.7.0"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.11"
